<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your email</title>
</head>
<body>
    <h1>verify your email</h1>
    <form action="/emailverification" method="post">
        <input type="radio" name="response" id="yes" value="yes">
        <label for="yes">yes</label>
        <input type="radio" name="response" id="no" value="no">
        <label for="no">no</label>
        <button type="submit">submit</button>
    </form>
</body>
</html>